.CardDetails__info-container {
  text-align: left;
  display: grid;
  padding: 3px;

  /* for contain project span absolute property */
  position: relative;

  /* line breaks */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.CardDetails__title {
  font-size: var(--font-size-l);
  font-weight: bold;
  width: 100%;
}

.CardDetails__description {
  font-size: var(--font-size-s);
  font-weight: 400;
  color: rgb(57, 57, 57);
  margin: 0 0 12px 0;
}

.CardDetails__project {
  background: lightblue;
  font-size: var(--font-size-sm);
  width: max-content;
  margin: 0 auto;
  padding: 2px 5px;

  position: absolute;
  top: 0;
  right: 0;
}

.CardDetails__settings-btn.edit {
  background: var(--theme-color-info);
}
.CardDetails__settings-btn.edit:hover {
  background: var(--theme-color-info2);
}

.CardDetails__settings-btn.save {
  background: var(--theme-color5);
  color: white;
  padding: 4px 10px;
}
.CardDetails__settings-btn.save:hover {
  background: var(--theme-color3);
}

/* make sure all stretch to fit card width */
.CardDetails__form > * {
  width: 100%;
  margin-bottom: 6px;
  outline: none;
}

.CardDetails__form > textarea,
.CardDetails__form > input {
  /* move placeholder text to right */
  padding-left: 4px;
}
