.Timetable__ {
  background: lightblue;
}

.Timetable__columns-container {
  display: grid;
  /* 7 days in a week */
  grid-template-columns: repeat(7, 1fr);
}

@media only screen and (max-width: 1200px) {
  .Timetable__columns-container {
    display: flex;
    flex-direction: column;
  }
}
