.Column__ {
  /* ensure on load bg is covering view */
  min-height: calc(100vh - var(--nav-height));
  border-left: 1px solid var(--theme-color2);

  position: relative;
}

.Column__header {
  background: var(--theme-color3);
  color: var(--theme-font-white);
  padding: 5px 0;
}

.Column__new-entry-btn {
  margin-bottom: calc(var(--bottom-nav-height) * 2);
}

.Column__total-time-span {
  display: flex;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-height);
  background: white;
  padding: 0 15px;
  border-radius: 0 7px 0 0;
}
