.Column__ {
  /* ensure on load bg is covering view */
  min-height: calc(100vh - var(--nav-height));
  border-left: 1px solid var(--theme-color2);

  position: relative;
}

.Column__header {
  background: var(--theme-color3);
  color: var(--theme-font-white);
  padding: 5px 0;
}

.Column__new-entry-btn {
  margin-top: calc(var(--bottom-nav-height));
  margin-bottom: calc(var(--bottom-nav-height) * 2);
  background: var(--theme-color-ok);
  position: relative;
  height: 30px;
  width: 30px;
}
.Column__new-entry-btn:hover {
  background: var(--theme-color-ok2);
}

/* BEGIN: new entry btn cross */
.Column__new-entry-btn::before,
.Column__new-entry-btn::after {
  content: "";
  height: 5px;
  width: 100%;
  background: var(--theme-color3);
  position: absolute;
  top: 40%;
  left: 0;
}
.Column__new-entry-btn::after {
  transform: rotate(90deg);
}
/* END: new entry btn cross */

.Column__total-time-span {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-height);
  background: white;
  border-radius: 0 7px 0 0;
  width: 12vw;
  padding: 0 7px 0 0;
}

@media only screen and (max-width: 1200px) {
  .Column__ {
    min-height: 0;
  }
  .Column__total-time-span {
    position: sticky;
    bottom: 0;
  }
}
