.TimerControls__ {
  margin: 10px 0 3px 0;
}

.TimerControls__btn.pause {
  background: var(--theme-color-warning2);
}
.TimerControls__btn.pause:hover {
  background: white;
}

.TimerControls__btn.start {
  background: var(--theme-color-ok);
  color: white;
}
.TimerControls__btn.start:hover {
  background: white;
  color: var(--theme-color3);
}
