.EntryCard__ {
  background: white;
  margin: 4px;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .EntryCard__ {
    min-width: 300px;
    max-width: 500px;
    width: 60vw;
    margin: 15px auto;
  }
}
