body {
  /* normalize */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* offets (heights, widths) */
  --nav-height: 8vh;

  /* font sizes */
  --font-size-sm: 15px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 30px;
  --font-size-xxl: 35px;
}

/* center inner text vertically and horizontally */
/* Note: set element display to flex or grid */
.center-text {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 0 5px black;
}

.border-rad {
  border-radius: 5px;
}
