.Nav__ {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: var(--nav-height);
  box-shadow: 0 0 8px black;
  background: var(--theme-color1);

  position: sticky;
  top: 0;
  z-index: 30;
}
