.Nav__ {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: var(--nav-height);
  box-shadow: 0 0 8px black;
  background: var(--theme-color1);

  position: sticky;
  top: 0;
  z-index: 30;
}

.Nav__site-logo {
  color: var(--theme-font-white);
}

.Nav__weekly--total-span {
  color: var(--theme-color3);
}

@media only screen and (max-width: 500px) {
  .Nav__ {
    width: 110%;
    align-items: center;
    /* move each grouping away rom each other */
    margin: 0 -25px;

    position: fixed;
  }

  .Nav__site-logo {
    margin: 0;
    font-size: var(--font-size-m);
    font-weight: bold;
  }

  .Nav__weekly--total-span {
    font-size: var(--font-size-s);
  }
}
